.indexContainer {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.7em;
    }

    h3 {
        font-size: 1.4em;
    }

    .paperContainer {
        p {
            margin: 0;
        }
    }

    .annotation {
        padding: 0.25em 0;
    }
}