.paperContainer {
    p {
        margin: 0;
    }
    padding: 0.25em 0.5em;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-bottom: 0.5em;
}


.tags {
    font-size: 0.8em;
    font-style: oblique;
    color: gray;
}

.notesContainer {
    font-style: oblique;
}